.background{
    background:black;
}
.player-card{
    display: inline-block;
    text-align: center;
}
.player-roster, .my-team{
    text-align: center;
}
h1, h2, h3 {
    text-align: center;
    color: white;
    
}